/*

https://coolors.co/86e7b8-93ff96-b2ffa8-d0ffb7-f2f5de

https://coolors.co/fae8eb-f6caca-e4c2c6-ff4f79-ffb49a 

https://coolors.co/67597a-544e61-6e8894-85baa1-ceeddb

https://coolors.co/b4edd2-a0cfd3-8d94ba-9a7aa0-87677b

https://coolors.co/a7bed3-c6e2e9-f1ffc4-ffcaaf-dab894

https://coolors.co/4effef-73a6ad-9b97b2-d8a7ca-c7b8ea

https://coolors.co/ff91bb-a68dc4-7fffdf-f4fff9-ffffff


*/

:root {
    --dark-color: #A68DC4;
    --lightest-color: #ffffff;
    --light-color: #F4FFF9;
    --medium-color: #FF91BB;
    --highlight-color: #7FFFDF;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: 16px;

    cursor: crosshair;
    overflow: hidden;
}

h1 {
    color: var(--light-color);
    opacity: .9;
    font-family: monospace;
    font-size: 4rem;
    letter-spacing: 10px;
    font-weight: normal;
    width: fit-content;
}

main {
    position: fixed;
    top: 100px;
    left: 200px;

    line-height: 1.5rem;
}

ol[contenteditable="true"] {
    transition: padding 1.5s;
}

ol[contenteditable="true"]:focus {
    padding: 30px;
    outline: none;
    background-color: rgba( 255, 255, 255, .2);
}

a {
    text-decoration: none;
    color: var(--highlight-color);
}

a:hover {
    font-style: italic;
}

.article-link, article span, p {
    display: inline-block;
}

#instructions {
    margin: 10px;
    opacity: .5;
    transition: opacity 1s;
}

#instructions:hover {
    opacity: 1;
}

#instructions pre {
    background: rgba( 255, 255, 255, .3 );
    width: 20px;
    margin: 0 2px;
    display: inline-block;
    text-align: center;
}

/*           todo  */
.done {
    text-decoration: line-through;
    opacity: .5;
}

/*           clouds  */
#cloud {
    height: 80px;
    width: 80px;
    position: absolute;
    opacity: .8;
    filter: invert(100);
    animation: rain 8s ease-in-out;
    top: 100px;
    left: 1000px;
}

@keyframes rain {
    from {
        top: 200px;
        left: 10px;
    }
    to {
        top: 100px;
        left: 1000px;
    }
}



/*           updates */

#updates dl {
    margin: 100px auto;
    width: 80%;
}

#updates dt {
    margin-top: 15px;
    color: var(--lightest-color);
}

#updates dd {
    -webkit-margin-start: unset;
}

#updates sup {
    border-bottom: solid var(--light-color) 2px;
}