/*

https://coolors.co/86e7b8-93ff96-b2ffa8-d0ffb7-f2f5de

https://coolors.co/fae8eb-f6caca-e4c2c6-ff4f79-ffb49a 

https://coolors.co/67597a-544e61-6e8894-85baa1-ceeddb

https://coolors.co/b4edd2-a0cfd3-8d94ba-9a7aa0-87677b

https://coolors.co/a7bed3-c6e2e9-f1ffc4-ffcaaf-dab894

https://coolors.co/4effef-73a6ad-9b97b2-d8a7ca-c7b8ea

https://coolors.co/ff91bb-a68dc4-7fffdf-f4fff9-ffffff


*/

:root {
    --dark-color: #A68DC4;
    --lightest-color: #ffffff;
    --light-color: #F4FFF9;
    --medium-color: #FF91BB;
    --highlight-color: #7FFFDF;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-size: 16px;

    cursor: crosshair;
}

a {
    text-decoration: none;
    color: var(--highlight-color);
}

a:hover {
    font-style: italic;
}

.article-link, article span, p {
    display: inline-block;
}




/*           clouds  */
#cloud {
    height: 80px;
    width: 80px;
    position: absolute;
}



/*           updates */

#updates dl {
    margin: 100px auto;
    width: 80%;
}

#updates dt {
    margin-top: 15px;
    color: var(--lightest-color);
}

#updates dd {
    -webkit-margin-start: unset;
}

#updates sup {
    border-bottom: solid var(--light-color) 2px;
}