body {
  margin: 0 auto;
  font-family: 'Abel', sans-serif;
  background-color: #fff;
}

h1, h2, h3, h4 {
  font-family: 'Poiret One', cursive;
}

a:link{color: #000; text-decoration: none;}
a:hover{color: #000; text-decoration: underline;}
a:visited{color: #000; text-decoration: none;}
a:active{color: #000; text-decoration: none;}


.noCursor{
  cursor: none;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.squares {
  height: 400px;
  width: 400px;
  display: inline-block;
  margin: 50px 50px 50px 50px;
  padding: 50px;
  vertical-align: middle;
  background-color: #eee;
}

.game {
  width: 500px;
  height: 500px;
  padding: 0;
}

#miniGame {
  width: 400px;
  height: 400px;
}

/* make it rain */

#cloud {
  display: none;
  width: 100px;
  height: 100px;
  position: absolute;
  float: left;
}

.cloudComponent {
  border-radius: 50%;
  border: 1px solid #666666;
  background-color: #666666;
  position: absolute;
}

.bottoms, .mids, .tops {
  margin-top: -3;
  margin-left: -5px;
}

.bottoms {bottom: 0;}
.mids {bottom: 15px;}
.tops {bottom: 25px;}
