#work section {
  width: 500px; }

#work article.project h2 {
  margin: 0;
  padding: 0; }

#work article.project p[data-content="year"] {
  text-align: center;
  margin: 0; }

#work article.project ul.stack li {
  display: inline-block;
  margin-left: 5px; }
  #work article.project ul.stack li:not(:last-child):after {
    content: ','; }

#work article.project img {
  box-shadow: 20px 10px 0 0;
  transition: all .6s ease-out;
  width: 450px;
  margin: 20px; }
  #work article.project img:hover {
    transform: scale(2);
    box-shadow: 0 0 0 10px; }
