body {
    width: 75%;
    max-width: 1000px;
    background-color: white;
    margin: 0 auto;
    padding: 80px; 
}
  
ul {
    list-style-type: square; 

    li {
        line-height: 1.3; 
    }
}

.bold {
    font-weight: bold;
}
  
.not-bold {
    font-weight: normal;
}
  
header  {
    h1 {
        font-size: 4em;
        margin-bottom: 10px;
    }

    ul {
        padding: 0;
        list-style-type: none;
        margin-top: 0;

        lh {
            color: initial;
        }
        
        li {
            display: inline-block;
            padding-left: 2px;
        }
    }
    
}

  
main {
    width: 750px;
    text-align: left;

    h3 {
        font-size: 1.5em;
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 30px;
    }

    ul, li {
        padding: initial;
    }

    ul.cols {
        padding-left: 25px;
        width: 30%;
        min-width: 325px;

        li {
            margin-left: 1em;
        }

        &.two {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }
        
        &.three {
            columns: 3;
            -webkit-columns: 3;
            -moz-columns: 3;
        }
    }

    #experience {
        h4 { margin-bottom: 5px; }

        .details { margin-top: 0; }
    }
}