<h1>Epicodus Work</h1>
<dl>
  <dt><a href="http://epicodusoverflow.site44.com/#/" target="_blank">Epicodus Overflow</a>&#8669;</dt>
    <dd class="black">A Stack Overflow clone for Epicodus students.</dd>
    <dd>Created with: Tyler B., Jackie F., Benjamin H., Grace M., Whitney R.</dd>
    <dd>Tool set: AngularJS, Firebase, AngularFire</dd>
    <dd>GitHub repo: <a href="https://github.com/sajoy/epicodus-overflow" target="_blank">https://github.com/sajoy/epicodus-overflow</a></dd>
  <dt><a href="https://gentle-wildwood-8578.herokuapp.com/" target="_blank">blog</a>&#8669;</dt>
    <dd class="black">A simple online blog, a minimalistic retreat.</dd>
    <dd>Tool set: Ruby, Ruby on Rails, Devise gem, heroku</dd>
    <dd>GitHub repo: <a href="https://github.com/sajoy/blog" target="_blank">https://github.com/sajoy/blog</a></dd>
  <dt><a href="/pizzazz" target="_blank">pizzazz</a>&#8669;</dt>
    <dd class="black">A pizza ordering web app created for practice with object oriented JavaScript.</dd>
    <dd>Tool set: JavaScript</dd>
    <dd>GitHub repo: <a href="https://github.com/sajoy/pizzazz" target="_blank">https://github.com/sajoy/pizzazz</a></dd>
</dl>
<h1>Other Work</h1>
<ul>
  <dt><a href="http://www.ezpete.com" target="_blank">ezpete.com</a>&#8669;</dt>
    <dd class="black">A website for Fredericksburg band, EZpete.</dd>
    <dd>Created with: Elisabeth A.</dd>
    <dd>Tool set: PHP</dd>
  <dt><a href="https://scratch.mit.edu/projects/19349431/" target="_blank">a face in the clouds</a>&#8669;</dt>
    <dd class="black">Creative project for <a href="http://elit.umwblogs.org/" target="_blank">ENG376</a>, Spring 2014, with little (3 months of) programming experience</dd>
    <dd>Tool set: <a href="scratch.mit.edu" target="_blank">Scratch</a></dd>


</ul>
