<div class="row">
  <div class="six columns">
    <h1> Skills </h1>
    <ul>
      <li>test driven development</li>
      <li>behavior driven development</li>
      <li>ice cream appreciating</li>
    </ul>
    <h1>Etc.</h1>
    <ul>
      <li>Git</li>
      <li>jQuery</li>
      <li>AngularJS</li>
      <li>Rails</li>
    </ul>
  </div>
  <div class="six columns">
    <h1> Languages </h1>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Ruby</li>
      <li>JavaScript</li>
    </ul>
    <p>& a little bit o' PHP and Python</p>
  </div>
</div>
