footer {
    margin-top: 20px;
    background-color: #f39;
    padding: 10px;
    text-align: center;
    font-family: monospace;
    box-shadow: #151515 0 0 5px 0;
}

footer a {
    text-decoration: none;
    border-bottom: dashed #000 1px;
    color: #000;
}
