/*                                             search terms

- specific sections
- thanks
- mobile

*/

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #eee;
    color: #666;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    font-style: italic;
}

#chair {
    width: 300px;
    position: fixed;
    bottom: 0;
    left: 10%;
}

#faux-screen {
    margin-top: 7%;
    margin-bottom: 5%;
    padding-bottom: 200px;
}

article {
    margin: 10px auto;
    padding-top: 150px;
    padding-bottom: 50px;
    width: 65%;
    min-width: 250px;
    text-align: right;
}

article img {
    box-shadow: #d3d3d3 0px 0px 4px 1px;
    width: 100%;
    margin: 0;
}

.article-link, article span, p {
    display: inline-block;
}

/*                                      specific sections  */

#intro {
    font-family: 'Abril Fatface';
    color: #333;
    box-shadow: initial;
    height: 350px;
    letter-spacing: .2px;
    text-align: left;
}

#intro a {
    color: #333;
    text-decoration: none;
}

#thanks {
    margin: 0;
    cursor: pointer;
}

#thanks:hover {
    font-style: italic;
}

#nav {
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    font-size: 3em;
    font-weight: bold;
}

/*                                                                     thanks */

#overlay {
    position: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    color: white;
    text-align: center;
    padding-top: 10%;
    background-color: rgba( 280, 0, 100, .8 );
    display: none;
    opacity: 0;
    transition: opacity .5s ease-out;
}

#overlay h1, #overlay a {
    font-size: 5em;
    margin: 0;
    text-align: center;
}

#gratitude {
    display: none;
    opacity: 0;
    transition: opacity .5s ease-out;
}

#close {
    position: absolute;;
    top: 10px; right: 30px;
    color: white;
    font-size: 50px;
    font-family: monospace;
    font-weight: lighter;
    cursor: pointer;
}

#menu {
    display: none;
    opacity: 0;
    transition: opacity .5s ease-out;
    padding: initial;
}

#menu a {
    display: block;
    color: white;
}

#menu div.icons {
    width: fit-content;
    margin: 50px auto;
}

#menu .icons a {
    font-size: 1.5em;
    display: inline;
}

#menu .icons a:hover {
    font-style: normal;
}

#overlay.showit,
#gratitude.showit,
#menu.showit {
    display: block;
}

/*           updates */
#updates dl {
    /*position: relative;*/
    margin: 100px auto;
    width: 80%
}
#updates sub {
    color: darkgray;
}


/*                                                     mobile  */

@media only screen and ( max-width: 800px ) {
    #chair { width: 250px; }
    #overlay h1 { font-size: 4em; }
    article { width: 80%; }
}

@media only screen and( max-height: 400px ) {
    #faux-screen { margin-top: 0; }
    #intro { padding-top: 50px; }
    #chair { bottom: -80px; }
}
