footer {
    margin-top: 20px;
    background-color: #f39;
    padding: 10px;
    font-family: monospace;
    box-shadow: #151515 0 0 5px 0;
    position: fixed;
    bottom: 20px;
    left: -120px;
}

footer:hover {
    left: 0;
}

footer a {
    text-decoration: none;
    border-bottom: dashed #000 1px;
    color: #000;
}
