body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 2em;
}

h1 {
    margin-bottom: 0;
}

h1 a {
    color: black;
    text-decoration: none;
}

h1 a:hover {
    background-color: greenyellow;
}

h3 {
    margin: 0;
    padding-left: 1em;
    color: slategray;
    font-weight: normal;
}

sup {
    font-weight: 200;
}

ul {
    list-style: circle;
    line-height: 1em;
}

a {
    color: deeppink;
}

section.table-of-contents a { color: black; }
