:root {
    --black-color: rgb(37, 37, 37);
    --pale-yellow: rgba(255, 255, 170, 0.8);
    --text-color:  rgb(37, 37, 37);
}

$pink: #ffbbec;
$purple: #dcbbff;
$blue: #bbe8ff;

body {
    font-family: monospace;
    font-size: 1.25rem;
    color: var(--text-color);


    /* animated gradient from https://www.gradient-animator.com/ */

    background: linear-gradient(270deg, $purple, $pink, $blue);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 39s ease infinite;
    -moz-animation: AnimationName 39s ease infinite;
    animation: AnimationName 39s ease infinite;

    *::selection {
        background-color: var(--pale-yellow);
    }

    &.new-color {       
        background: linear-gradient(270deg, cyan, magenta, yellow);
        background-size: 500% 500%;

        transition: background 2s;        

        -webkit-animation: AnimationName 20s ease infinite;
        -moz-animation: AnimationName 20s ease infinite;
        animation: AnimationName 20s ease infinite;
    }
}

h1 {
    font-family: 'Abril Fatface';
    letter-spacing: .3rem;
}

main:not(#resume) {
    margin: 10% auto;
    width: fit-content;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#logo {
    --dimension: 200px;
    margin: 75px 50px;
    height: var(--dimension);
    width: var(--dimension);
    position: sticky;
    top: 50px;

    h1 {
        font-family: sans-serif;
        letter-spacing: 1px;
        position: absolute;
        margin: 0 5px;  
        bottom: 10px;
        right: 10px;
        font-size: 2.5rem;
        font-weight: normal;
        cursor: default;
    }

 
    img {
        position: absolute;
        opacity: 0;
        bottom: -450px;
        left: -1000px;
        transition: left 2s, opacity 2s;
        
        &.yawn {
            opacity: 1;
            left: -400px;
        }
    }

}


$randomNum: random(8) + px;
$negRandomNum: random(16) - 8 + px;

label {
    border: none;
    font: inherit;
    padding: 0 5px;
    display: inline-block;
    border: solid var(--text-color) 2px;
    width: 160px;
    margin: 5px;
    box-shadow: var(--text-color) 3px 5px 0 0;

    &:hover, &:active, &:focus {
        box-shadow: var(--text-color) 1px 2px 0 0;
    }
}


input[type="checkbox"] {
    display: none;
}


p {
    max-width: 500px;
    line-height: 1.5rem;
    text-align: justify;
    padding: 0 20px;
    &.dash {
        text-align: center;
    }
}

span.awful {
    text-decoration: underline wavy;
}

ul {
    list-style: none;
    padding: 0;
    line-height: 1.5rem;

    &.random-decor li {
        $decor: (
            left-stars: ('** ',''),
            left-colons: (':: ', ''),
            left-under: ('__ ', ''),
            right-colons: ('', ' ::'),
            right-arrows: ('', ' <<<'),
            squiggles: ('~ ', ' ~'),
            colons: (':: ', ' ::'),
            slashes: ('// ', ' //'),
            equals: ('== ', ' =='),
            squares: ('[ ', ' ]')
        );
        
        @each $name, $content in $decor {
            $before-content: nth($content, 1);
            $after-content: nth($content, 2);
            
            &.#{$name} {
                &:before { content: $before-content; }
                &:after { content: $after-content; }
            }
        }
    }
}

a {
    color: var(--text-color);
}

a:hover {
    text-decoration: underline wavy;
}

canvas {
    width: 500px;
    height: 500px;
    cursor: pointer;
}

#updates {
    text-align: left;
    margin-top: 15%;
}


/* animated gradient from https://www.gradient-animator.com/ */

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}