#work {
    section {
        width: 500px;
    }

    article.project {
        // background-color: rgba(30, 12, 50, 0.29);
        // padding: 25px;
        // border: solid black 4px;

        h2 {
            margin: 0;
            padding: 0;
            // text-align: left;
        }
        p[data-content="year"] {
            text-align: center;
            margin: 0;
        }

        ul.stack li {
            display: inline-block;
            margin-left: 5px; 

            &:not(:last-child):after {
                content: ','
            }
        }
        img {
            height: 300px;
            margin: 20px;
        }
    }
}