#work {
    section {
        width: 500px;
    }

    article.project {
        h2 {
            margin: 0;
            padding: 0;
            // text-align: left;
        }
        p[data-content="year"] {
            text-align: center;
            margin: 0;
        }

        ul.stack li {
            display: inline-block;
            margin-left: 5px; 

            &:not(:last-child):after {
                content: ','
            }
        }
        img {
            box-shadow: 20px 10px 0 0;
            transition: all .6s ease-out;
            
            &:hover {
                transform: scale(2);
                box-shadow: 0 0 0 10px;
            }

            width: 450px;
            margin: 20px;
        }
    }
}


@media (max-width: 600px) {
    #work {
        section {
            width: initial;
        }
        
        article.project img {
            width: 300px;
            margin: 20px 0;
    
            &:hover {
                transform: none;
            }
        }
    }
}